.center {
    width: 100%;
    background: #C5E5F5 url(images/bg.png) repeat-y center;
    overflow: visible;
}

.content {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

.altformatcenter {
    width: 100%;
    background: #C5E5F5 url(images/bg_footer.png) repeat-y center;
    overflow: visible;
}

.altformatcontent {
    width: 990px;
    margin-right: auto;
    margin-left: auto;
}

.altformat {
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-bottom: 2px solid #00a3e3;
    font-size: 8pt;
    font-weight: bold;
    background: #C5E5F5 url(images/bg_footer.png) repeat-y center;
}

.format-type {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 4px;
    float: left;
    display: inline;
}

.local-forecast {
    color: #003366;
    font-size: 8pt;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: inline;
    margin-right: 5px;
    float: right;
    padding-top: 1px;
    padding-bottom: 1px;
}

.forecast-description {
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 4px;
    float: right;
    display: inline;
}

.header {
    width: 100%;
    margin: 0;
    height: 80px;
    background: #C5E5F5 url(images/bg.png) repeat-y center;
}

.header-content {
    width: 990px;
    margin: 0 auto;
    height: 60px;
    overflow: visible;
}

.header-center-text {
    width: 650px;
    height: 40px;
    margin-left: 4px;
    overflow: visible;
    float: left;
    padding-top: 2px;
}

.header-shadow {
    width: 100%;
    height: 2px;
    background: #C5E5F5 url(images/bg.png) repeat-y center;
    overflow: visible;
}

.header-shadow-content {
    margin: 0px auto;
    width: 990px;
    height: 10px;
    background: url(images/head_shadow.png) center;
}

.footer-legal * {
    font: 8pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.footer-legal-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 16px;
    padding-top: 15px;
}

.footer-legal-column {
    float: left;
    width: 400px;
    position: relative;
    left: 60px;
    font: 8pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}